---
title: A page for you
layout: base.njk
---


<div class="contanier">
        <h1> This is a page for you</h1>
        <p>It was made for you using HTML, CSS and JS. And served as a JAMstack site.</p>
</div>
